<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers Table</title>
</head>
<body>
<h2>Customers</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Delete</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.customer_id }}</td>
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.email }}</td>
        <td>
            <form method="post" action="{% url 'hotel_web:delete-customer' customer.customer_id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
